<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>To-Do App</title>
    <link rel="stylesheet" href="./css/style.css">
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        function updateTodo (id) {
            fetch(`/todos/${id}/markAsCompleted`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: token
                })
            }).then(res => {
                if(res.ok) {
                    window.location.reload();
                }
            }).catch(err => {
                console.log(err);
            })
        }

        function deleteTodo (id) {
            fetch(`/todos/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: token
                })
            }).then(res => {
                if(res.ok) {
                    window.location.reload();
                }
            }).catch(err => {
                console.log(err);
            })
        }

    </script>
</head>
<body>
    <%- include('header') %>

    <div class="center">
       <div>
        
        <form action="/todos" method="post">
            <div class="addtask">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div><input type="text" name="title" placeholder="What's next?"></div>
                <div><input type="date" name="dueDate"></div>
                <div><button type="submit" class="btn">Add</button></div>
            </div>
        </form>
    
        <div>
            <%- include('todos.ejs',{title: "Over Due", data: overDue}) %>
            <%- include('todos.ejs',{title: "Due Today", data: dueToday}) %>
            <%- include('todos.ejs',{title: "Due Later", data: dueLater}) %>
        </div>
       </div>
    </div>
    
    <script src="https://kit.fontawesome.com/4d482375c9.js" crossorigin="anonymous"></script>
</body>
</html>